<div class="container pb-5 d-flex justify-content-center">
  <div class="text-center">
    <table class="table">
      <thead>
        <tr>
          <th>メニュー</th>
          <th>たんぱく質(g)</th>
          <th>脂質(g)</th>
          <th>炭水化物(g)</th>
          <th>カロリー(kcal)</th>
        </tr>
      </thead>
      <tbody>
        <% menus.each do |menu| %>
          <% protein_mn   = menu.menu_nutrients.find { |mn| mn.nutrient.key == 'protein' } %>
          <% fat_mn       = menu.menu_nutrients.find { |mn| mn.nutrient.key == 'fat' } %>
          <% carbs_mn     = menu.menu_nutrients.find { |mn| mn.nutrient.key == 'carbs' } %>
          <% calories_mn  = menu.menu_nutrients.find { |mn| mn.nutrient.key == 'calories' } %>
          <tr>
            <td><%= menu.name %></td>
            <td><%= protein_mn&.amount %></td>
            <td><%= fat_mn&.amount %></td>
            <td><%= carbs_mn&.amount %></td>
            <td><%= calories_mn&.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
