<div class="container pb-5 d-flex justify-content-center">
  <div class="text-center">
    <h1 class="h2 fw-bold mb-3">メニューを絞り込みましょう</h1>
    <div class="text-center">
      <%= render 'shared/search_form', q: @q, url: menus_path %>
      <% if sort_description.present? %>
        <p class="small text-muted mb-3"><%= sort_description %></p>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th>メニュー</th>
            <th>チェーン</th>
            <th>たんぱく質(g)</th>
            <th>脂質(g)</th>
            <th>炭水化物(g)</th>
            <th>カロリー(kcal)</th>
          </tr>
        </thead>
        <tbody>
          <% @menus.each do |menu| %>
            <% protein_mn = menu.menu_nutrients.find { |mn| mn.nutrient.key == 'protein' } %>
            <% fat_mn = menu.menu_nutrients.find { |mn| mn.nutrient.key == 'fat' } %>
            <% carbs_mn = menu.menu_nutrients.find { |mn| mn.nutrient.key == 'carbs' } %>
            <% calories_mn = menu.menu_nutrients.find { |mn| mn.nutrient.key == 'calories' } %>
            <tr>
              <td ca><%= menu.name %></td>
              <td><%= link_to menu.chain.name, chain_path(menu.chain), title: "#{menu.chain.name}" %></td>
              <td><%= protein_mn&.amount %></td>
              <td><%= fat_mn&.amount %></td>
              <td><%= carbs_mn&.amount %></td>
              <td><%= calories_mn&.amount %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
