<style>
  .min-row { min-width: 400px; }
</style>

<%# locals: q (Ransack::Search), url (String or Rails URL helper) %>

<div class="container py-4">
  <div class="row">
    <div class="col-lg-5 col-md-6 mx-auto min-row">
      <%= search_form_for q, url: url, method: :get do |f| %>
        <div class="row mb-2 align-items-center">
          <div class="col-4 label-nowrap fw-bold ">たんぱく質 (g)</div>
          <div class="col-8">
            <div class="input-group">
              <%= f.number_field :protein_gteq, step: 0.1, class: "form-control range-input", placeholder: "最小" %>
              <span class="input-group-text">~</span>
              <%= f.number_field :protein_lteq, step: 0.1, class: "form-control range-input", placeholder: "最大" %>
            </div>
          </div>
        </div>
        <div class="row mb-2 align-items-center">
          <div class="col-4 label-nowrap fw-bold">脂質 (g)</div>
          <div class="col-8">
            <div class="input-group">
              <%= f.number_field :fat_gteq, step: 0.1, class: "form-control range-input", placeholder: "最小" %>
              <span class="input-group-text">~</span>
              <%= f.number_field :fat_lteq, step: 0.1, class: "form-control range-input", placeholder: "最大" %>
            </div>
          </div>
        </div>
        <div class="row mb-1 align-items-center">
          <div class="col-4 label-nowrap fw-bold">炭水化物 (g)</div>
          <div class="col-8">
            <div class="input-group">
              <%= f.number_field :carbs_gteq, step: 0.1, class: "form-control range-input", placeholder: "最小" %>
              <span class="input-group-text">~</span>
              <%= f.number_field :carbs_lteq, step: 0.1, class: "form-control range-input", placeholder: "最大" %>
            </div>
          </div>
        </div>
        <div class="row mb-3 align-items-center">
          <div class="col-4 label-nowrap fw-bold">カロリー (kcal)</div>
          <div class="col-8">
            <div class="input-group">
              <%= f.number_field :calories_gteq, step: 0.1, class: "form-control range-input", placeholder: "最小" %>
              <span class="input-group-text">~</span>
              <%= f.number_field :calories_lteq, step: 0.1, class: "form-control range-input", placeholder: "最大" %>
            </div>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-auto">
           <%= select_tag :sort_target, options_for_select( [['対象栄養素',''], ['たんぱく質','protein'], ['脂質','fat'], ['炭水化物','carbs'], ['カロリー','calories']], params[:sort_target]), class: "form-select" %>
          </div>
          <div class="col-auto">
            <%= select_tag :sort_order, options_for_select( [['並び順',''], ['昇順','asc'], ['降順','desc']], params[:sort_order]), class: "form-select" %>
          </div>
          <div class="col-auto">
            <%= f.submit "検索", class: "btn btn-primary px-4" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
